---
import Layout from "../layouts/Layout.astro";
import Card from "../components/Card.astro";
import SocialButton from "../components/SocialButton.astro";
import { Image } from "astro:assets";
import profilePicture from "../assets/profile-picture.jpg";
import logo from "../assets/logo.svg";
---

<Layout title="mhazhary | Personal page">
  <main>
    <Image
      class="w-24 h-24 md:w-48 md:h-auto rounded-full mx-auto"
      src={profilePicture}
      alt="Profile picture of M. Hanif Azhary"
      width="384"
      height="384"
    />
    <h1 class="text-3xl md:text-5xl m-2 font-bold font-display text-center">
      <span class="text-gradient">@mhazhary</span>
    </h1>
    <SocialButton />
    <p class="instructions">
      A database engineer at <a href="https://www.bca.co.id/">
        <strong>BCA</strong>
      </a>
    </p>
    <Card
      href="https://docs.astro.build/"
      title="Made with ❤ & Astro"
      body="Learn how Astro works and explore the official API docs."
    />
    <p class="text-center m-8">
      Copyright © {new Date().getFullYear()} by
      <Image
        class="w-8 h-8 md:h-auto rounded-full mx-auto"
        src={logo}
        alt="Profile picture of M. Hanif Azhary"
        width="96"
        height="96"
      />
    </p>
  </main>
</Layout>

<style>
  main {
    margin: auto;
    padding: 1.5rem;
    max-width: 60ch;
  }
  h1 {
    font-weight: 800;
  }
  .text-gradient {
    background-image: var(--accent-gradient);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-size: 400%;
    background-position: 0%;
  }
  .instructions {
    line-height: 1.6;
    margin: 1rem 0;
    border: 1px solid rgba(var(--accent), 25%);
    background-color: white;
    padding: 1rem;
    border-radius: 0.4rem;
  }
  .instructions code {
    font-size: 0.875em;
    font-weight: bold;
    background: rgba(var(--accent), 12%);
    color: rgb(var(--accent));
    border-radius: 4px;
    padding: 0.3em 0.45em;
  }
  .instructions strong {
    color: rgb(var(--accent));
  }
  .link-card-grid {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(24ch, 1fr));
    gap: 1rem;
    padding: 0;
  }
</style>
