---
import { Icon } from "astro-icon";
---

<div class="flex items-center justify-center gap-4">
  <a
    target="_blank"
    rel="noopener noreferer"
    class="link"
    href="https://github.com/mhazhary"
  >
    <span class="sr-only">My GitHub account</span>
    <Icon class="w-8 h-8" pack="bi" name="github" />
  </a>
  <a
    target="_blank"
    rel="noopener noreferer"
    class="link"
    href="https://twitter.com/50HzPower"
  >
    <span class="sr-only">My Twitter account</span>
    <Icon class="w-8 h-8" pack="bi" name="twitter" />
  </a>
  <a
    target="_blank"
    rel="noopener noreferer"
    class="link"
    href="https://www.linkedin.com/in/mhazhary"
  >
    <span class="sr-only">My LinkedIn account</span>
    <Icon class="w-8 h-8" pack="bi" name="linkedin" />
  </a>
</div>
